node_modules
dist
*.tsbuildinfo
packages/icons/src/generated
.vitest-attachments
__screenshots__
packages/components/types
packages/components/custom-elements.json
packages/components/vscode.html-data.json
.vitest
_site
